.container {
    position: relative;
    text-align: center;
}

body {
    background-color: #b8baad
}

.centipede {
    padding: 1px;
    position: absolute;
    top: 100%;
    right: 13%;
} 

.name1 {
    font-size: 400%;
    padding: 1px;
    position: absolute;
    top: 410%;
    left: 45%;
}
.details1 {
    font-size: 400%;
    padding: 1px;
    position: absolute;
    top: 512%;
    left: 44.5%;
}
.date1 {
    font-size: 400%;
    padding: 1px;
    position: absolute;
    top: 760%;
    left: 46%;
}